@import "foundation";
body {
	text-align: center;
}

div#a{
height:75px;
width:100%;
background-color: gray;
margin-bottom:20px;
padding: 10px;
}

#clear {
	float: left;
}

#save {
	float: right;
}

.user {
	padding-top: 10px;
	height: 35px;
	width: 25px;
}

.deckcontainer {
	width: 100%;
	background-image: url(slidebackground.png);
	background-repeat: no-repeat;
	background-position: center; 
}

#itemdeck {
	padding: 50px;
	padding-top: 60px;
}