<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=StyleLust Logo" /></h1>
  </div>
<!--   <div class="large-9 small-4 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
    </ul>
  </div> -->
</div>
  
<!-- End Header and Nav -->
 
<!-- First Band (Slider) -->
 
<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <img src="http://placehold.it/1000x400&text=[ img 1 ]" />
    </div>
    
  <hr />
  </div>
</div>

<!-- Three-up Content Blocks -->
 
<div class="row">
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>Trending stuff.</h4>
    <p>Now that's a risk you'll have to take you're life depends on it. Oh, uh, this is my Doc, Uncle, Brown. You have this thing hooked up to the car? Mom, is that you? Let's go.</p>
  </div>
    
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>Just for you.</h4>
    <p>Now that's a risk you'll have to take you're life depends on it. Oh, uh, this is my Doc, Uncle, Brown. You have this thing hooked up to the car? Mom, is that you? Let's go.</p>
  </div>
    
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>New stuff.</h4>
    <p>Let me see that photograph again of your brother. Just as I thought, this proves my theory, look at your brother. Marty, I'm sorry, but I'm afraid you're stuck here.</p>
  </div>
  
</div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get started!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Lorem ipsum. Text that people will think is awesome.</p>
          </div>
          <div class="large-3 columns">
            <%= link_to play_path do %><p class="radius button right">Explore Now</p><% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>



<dl class="accordion" data-accordion>
  <dd>
    <%= link_to "#panel1" do %>
    Accordion 1
    <% end %>
    <div id="panel1" class="content">
      tessstttt
    </div>
  </dd>
</dl>

