<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=StyleLust Logo" /></h1>
  </div>
<!--   <div class="large-9 small-4 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
    </ul>
  </div> -->
</div>
  
<!-- End Header and Nav -->
 
<!-- First Band (Slider) -->
 
<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <img src="http://placehold.it/1000x400&text=[ img 1 ]" />
    </div>
    
  <hr />
  </div>
</div>

<!-- Three-up Content Blocks -->
 
<div class="row">
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>Trending stuff.</h4>
    <p>Now that's a risk you'll have to take you're life depends on it. Oh, uh, this is my Doc, Uncle, Brown. You have this thing hooked up to the car? Mom, is that you? Let's go.</p>
  </div>
    
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>Just for you.</h4>
    <p>Now that's a risk you'll have to take you're life depends on it. Oh, uh, this is my Doc, Uncle, Brown. You have this thing hooked up to the car? Mom, is that you? Let's go.</p>
  </div>
    
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>New stuff.</h4>
    <p>Let me see that photograph again of your brother. Just as I thought, this proves my theory, look at your brother. Marty, I'm sorry, but I'm afraid you're stuck here.</p>
  </div>
  
</div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get started!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Lorem ipsum. Text that people will think is awesome.</p>
          </div>
          <div class="large-3 columns">
            <%= link_to play_path do %><p class="radius button right">Explore Now</p><% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>


<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>

